<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do App</title>

  <link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>
  <section id="side-bar">
    <div class="heading">
      <div class="profile-pix-container">
        <img src="../assets/vendor/fontawesome/svgs/solid/user.svg" alt="" width="100" height="100">
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti asperiores aliquam qui impedit sit eligendi totam id omnis, labore voluptate corrupti voluptatum fuga, error sapiente vero aspernatur exercitationem, ab reprehenderit!</p>
  </section>

  <section id="content">
    <!-- Header -->
    <header>
      <div class="title">
        <h1>To Do App</h1>
        <i class="fa fa-2x fa-calendar"></i>
      </div>

      <div class="subtitle">
        <form action="javascript:void()" id="search-form" autocomplete="off">
          <!-- Search field -->
          <div class="search-field">
            <label for="search-input"><i class="fa fa-magnifying-glass search-icon"></i>            </label>
            <input type="search" name="search-input" id="search-input" placeholder="Search tasks...">
          </div>
          <button type="submit">Search</button>
        </form>

        <!-- Divider -->
        <hr class="divider" width="75%">

      </div>
    </header>

    <main>
      <section>
        <div class="heading">
          <div>
            <h3>Saturday, July 18</h3>
            <h6>3 Active Tasks</h6>
          </div>

          <div>
            <button class=""><i class="fa fa-pull-left fa-plus"></i> New</button>
          </div>
        </div>

        <div class="tasks-list-container">
          <table id="tasks-list">
            <thead>

            </thead>

            <tbody>
              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Ea itaque animi omnis! Officiis, ex, laborum quae ullam recusandae esse vero, error hic quisquam fugiat vel provident modi id eius ratione?</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Dignissimos voluptatibus obcaecati quasi ad maiores, nihil ullam ipsum accusamus consequatur nulla nisi reiciendis repellat adipisci aperiam consequuntur exercitationem excepturi eaque quod.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Cumque magnam amet illo, atque quia repellat voluptate in magni labore totam accusamus, soluta praesentium tempora delectus saepe quo vel, illum vitae.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>Quas alias saepe vel facere culpa ut, placeat reprehenderit incidunt eum officia et blanditiis repudiandae voluptatibus a itaque, dignissimos sint nesciunt laborum.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section>
        <div class="heading">
          <div>
            <h3>Saturday, July 18</h3>
            <h6>3 Active Tasks</h6>
          </div>

          <div>
            <button class=""><i class="fa fa-pull-left fa-plus"></i> New</button>
          </div>
        </div>

        <div class="tasks-list-container">
          <table id="tasks-list">
            <thead>

            </thead>

            <tbody>
              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Ea itaque animi omnis! Officiis, ex, laborum quae ullam recusandae esse vero, error hic quisquam fugiat vel provident modi id eius ratione?</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Dignissimos voluptatibus obcaecati quasi ad maiores, nihil ullam ipsum accusamus consequatur nulla nisi reiciendis repellat adipisci aperiam consequuntur exercitationem excepturi eaque quod.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Cumque magnam amet illo, atque quia repellat voluptate in magni labore totam accusamus, soluta praesentium tempora delectus saepe quo vel, illum vitae.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>Quas alias saepe vel facere culpa ut, placeat reprehenderit incidunt eum officia et blanditiis repudiandae voluptatibus a itaque, dignissimos sint nesciunt laborum.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section>
        <div class="heading">
          <div>
            <h3>Saturday, July 18</h3>
            <h6>3 Active Tasks</h6>
          </div>

          <div>
            <button class=""><i class="fa fa-pull-left fa-plus"></i> New</button>
          </div>
        </div>

        <div class="tasks-list-container">
          <table id="tasks-list">
            <thead>

            </thead>

            <tbody>
              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Ea itaque animi omnis! Officiis, ex, laborum quae ullam recusandae esse vero, error hic quisquam fugiat vel provident modi id eius ratione?</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Dignissimos voluptatibus obcaecati quasi ad maiores, nihil ullam ipsum accusamus consequatur nulla nisi reiciendis repellat adipisci aperiam consequuntur exercitationem excepturi eaque quod.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Cumque magnam amet illo, atque quia repellat voluptate in magni labore totam accusamus, soluta praesentium tempora delectus saepe quo vel, illum vitae.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>Quas alias saepe vel facere culpa ut, placeat reprehenderit incidunt eum officia et blanditiis repudiandae voluptatibus a itaque, dignissimos sint nesciunt laborum.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section>
        <div class="heading">
          <div>
            <h3>Saturday, July 18</h3>
            <h6>3 Active Tasks</h6>
          </div>

          <div>
            <button class=""><i class="fa fa-pull-left fa-plus"></i> New</button>
          </div>
        </div>

        <div class="tasks-list-container">
          <table id="tasks-list">
            <thead>

            </thead>

            <tbody>
              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Ea itaque animi omnis! Officiis, ex, laborum quae ullam recusandae esse vero, error hic quisquam fugiat vel provident modi id eius ratione?</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Dignissimos voluptatibus obcaecati quasi ad maiores, nihil ullam ipsum accusamus consequatur nulla nisi reiciendis repellat adipisci aperiam consequuntur exercitationem excepturi eaque quod.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><i class="fa fa-2xs fa-circle icon"></i></td>
                <td>Cumque magnam amet illo, atque quia repellat voluptate in magni labore totam accusamus, soluta praesentium tempora delectus saepe quo vel, illum vitae.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>

              <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>Quas alias saepe vel facere culpa ut, placeat reprehenderit incidunt eum officia et blanditiis repudiandae voluptatibus a itaque, dignissimos sint nesciunt laborum.</td>
                <td><i class="fa fa-pen-to-square icon"></i></td>
                <td><i class="fa fa-trash-can icon"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <footer>

    </footer>
  </section>
</body>
</html>